body {
    background-image: url("../images/pexels-photo-261949.jpeg");
    background-size: no-repeat;
    padding-top: 70px;
}

.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}